    .navbar {
      height: 56px !important;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
    }

    .sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1250 !important;
    background-color: #fff;
    padding-top: 0.5rem; 
    position: fixed !important;
    }

    .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  
    .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
  
    .sidebar-fixed .logo-wrapper img {
    max-height: 50px; }
  
  @media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
      padding-left: 270px; } }
  

  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none; } 
    }

      .main-sidebar {
        background-color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 56px;
        min-height: 100%;
        width: 230px;
        z-index: 750;
        -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
        -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
        -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
        transition: transform .3s ease-in-out,width .3s ease-in-out;
    }

    .aside {
        display: block;
    }
    
    .sidebar-menu {
        white-space: nowrap;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
    }